In [154]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import plotly.express as px
import numpy as np

In [155]:
data = pd.read_csv("../Crime_Data_2010_2017.csv") 
data.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,1208575,03/14/2013,03/11/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,102005556,01/25/2010,01/22/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2,418,03/19/2013,03/18/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,101822289,11/11/2010,11/10/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
4,42104479,01/11/2014,01/04/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"

In [156]:
data.shape

(1584316, 26)

In [157]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584316 entries, 0 to 1584315
Data columns (total 26 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   DR Number               1584316 non-null  int64
 1   Date Reported           1584316 non-null  object
 2   Date Occurred           1584316 non-null  object
 3   Time Occurred           1584316 non-null  int64
 4   Area ID                 1584316 non-null  int64
 5   Area Name               1584316 non-null  object
 6   Reporting District      1584316 non-null  int64
 7   Crime Code              1584316 non-null  int64
 8   Crime Code Description  1583904 non-null  object
 9   MO Codes                1412557 non-null  object
 10  Victim Age              1455657 non-null  float64
 11  Victim Sex              1439117 non-null  object
 12  Victim Descent          1439084 non-null  object
 13  Premise Code            1584240 non-null  float64
 14  Premise Description     1581565 non-null  object
 15  Weapon Used Code        524757 non-null   float64
 16  Weapon Description      524756 non-null   object
 17  Status Code             1584314 non-null  object
 18  Status Description      1584316 non-null  object
 19  Crime Code 1            1584309 non-null  float64
 20  Crime Code 2            99997 non-null    float64
 21  Crime Code 3            2183 non-null     float64
 22  Crime Code 4            69 non-null       float64
 23  Address                 1584316 non-null  object
 24  Cross Street            262733 non-null   object
 25  Location                1584307 non-null  object
dtypes: float64(7), int64(5), object(14)
memory usage: 314.3+ MB

In [158]:
data.isnull().sum()

DR Number                       0
Date Reported                   0
Date Occurred                   0
Time Occurred                   0
Area ID                         0
Area Name                       0
Reporting District              0
Crime Code                      0
Crime Code Description        412
MO Codes                   171759
Victim Age                 128659
Victim Sex                 145199
Victim Descent             145232
Premise Code                   76
Premise Description          2751
Weapon Used Code          1059559
Weapon Description        1059560
Status Code                     2
Status Description              0
Crime Code 1                    7
Crime Code 2              1484319
Crime Code 3              1582133
Crime Code 4              1584247
Address                         0
Cross Street              1321583
Location                        9
dtype: int64

In [159]:
np.unique(data['Victim Descent'].tolist())

# A: Asian (Asia)
# B: Black or African American (Hitam atau Afrika-Amerika)
# C: Chinese (Tionghoa)
# D: Cambodian (Kamboja)
# F: Filipino (Filipina)
# G: Guamanian (Guam)
# H: Hispanic or Latino (Hispanik atau Latino)
# I: American Indian or Alaska Native (Penduduk Asli Amerika atau Penduduk Asli Alaska)
# J: Japanese (Jepang)
# K: Korean (Korea)
# L: Laotian (Laos)
# O: Other (Lain-lain)
# P: Pacific Islander (Penduduk Pulau Pasifik)
# S: Samoan (Samoa)
# U: Hawaiian (Hawaii)
# V: Vietnamese (Vietnam)
# W: White or Caucasian (Putih atau Kaukasia)
# X: Unknown (Tidak Diketahui)
# Z: Asian Indian (India)

null_list = pd.read_excel("./data/null_list.xlsx")
null_list.head()

Empty DataFrame
Columns: [Crime Code, Column, Value]
Index: []

In [181]:
pd.DataFrame(data.groupby("Crime Code").apply(lambda x: x.mode().iloc[0])).isnull().sum()

0
DR Number                  0
Date Reported              0
Date Occurred              0
Time Occurred              0
Area Name                  0
Crime Code                 0
Crime Code Description     4
Victim Age                 1
Victim Sex                 0
Victim Descent             0
Premise Description        0
Weapon Description        13
Status Code                0
Status Description         0
Address                    0
Cross Street               6
Location                   0
dtype: int64

In [160]:


def drop_columns(data : pd.DataFrame, columns : list): 
    for col in columns: 
        # print(col)

        data.drop(labels=col, axis=1, inplace=True)
    return data

# def get_null_code(data : pd.DataFrame, null_list_data : pd.DataFrame) -> pd.DataFrame: 

#     row_insert = 0
    # for col in  data.columns[7:11]:
    #     print(col)
    #     for row in range(data.shape[0]): 
    #         if pd.isna(data.loc[row, col]) and row_insert < 1:
    #             null_list_data.at[row_insert, "Crime Code"] = data.loc[row_insert, "Crime Code"]
    #             null_list_data.at[row_insert, "Column"] = data.loc[row_insert, col]
    #             row_insert += 1
    #         elif pd.isna(data.loc[row, col]) and data.loc[row, "Crime Code"] != null_list_data.loc[row_insert - 1, "Crime Code"] and row_insert >= 1:
    #             null_list_data.at[row_insert, "Crime Code"] = data.loc[row_insert, "Crime Code"]
    #             null_list_data.at[row_insert, "Column"] = data.loc[row_insert, col]
    #             row_insert += 1

    #     row_insert = 0
    # return null_list_data

# def get_value(data : pd.DataFrame, code_crime : list): 
#     for code in code_crime: 
#         for row in range(data.shape[0]): 
#             if data.loc[row, "Crime Code"] == code: 
#                 for col in data.columns:
#                     if type(data[col]) == "object": 
#                         for row2 in range(data.shape[0]): 
#                             if data.loc[row2, "Crime Code"] == code: 
#                                 most_frequent_value = data[col].value_counts().idxmax()
#                                 data.at[row, col] = most_frequent_value  
#                     else:
#                         val = 0 
#                         iter = 0
#                         for row2 in range(data.shape[0]):
#                             if data.loc[row2, "Crime Code"] == code: 
#                                 iter += 1
#                                 if not pd.isna(data.loc[row2, col]):
#                                     val += data.loc[row2, col]
#                         print(val / iter)
#                         data.at[row2, col] = val / iter
#                         iter = 0
                                                      


# drop_columns(data = data, columns=["Area ID" , "MO Codes","Reporting District", "Premise Code", "Weapon Used Code", "Crime Code 1", "Crime Code 2", "Crime Code 3", "Crime Code 4"])
# crime_code = get_null_code(data, null_list) 
# crime_code.head()

In [161]:
drop_columns(data = data, columns=["Area ID" , "MO Codes","Reporting District", "Premise Code", "Weapon Used Code", "Crime Code 1", "Crime Code 2", "Crime Code 3", "Crime Code 4", "Weapon Description"])

,DR Number,Date Reported,Date Occurred,Time Occurred,Area Name,Crime Code,Crime Code Description,Victim Age,Victim Sex,Victim Descent,Premise Description,Weapon Description,Status Code,Status Description,Address,Cross Street,Location
0,1208575,03/14/2013,03/11/2013,1800,77th Street,626,INTIMATE PARTNER - SIMPLE ASSAULT,30.0,F,W,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,102005556,01/25/2010,01/22/2010,2300,Olympic,510,VEHICLE - STOLEN,NaN,NaN,NaN,STREET,NaN,IC,Invest Cont,VAN NESS,15TH,"(34.0454, -118.3157)"
2,418,03/19/2013,03/18/2013,2030,Southeast,510,VEHICLE - STOLEN,12.0,NaN,NaN,STREET,NaN,IC,Invest Cont,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,101822289,11/11/2010,11/10/2010,1800,Southeast,510,VEHICLE - STOLEN,NaN,NaN,NaN,STREET,NaN,IC,Invest Cont,88TH,WALL,"(33.9572, -118.2717)"
4,42104479,01/11/2014,01/04/2014,2300,Topanga,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),84.0,M,W,SINGLE FAMILY DWELLING,NaN,IC,Invest Cont,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584311,172116482,09/07/2017,09/07/2017,1005,Topanga,440,THEFT PLAIN - PETTY ($950 & UNDER),51.0,F,W,SINGLE FAMILY DWELLING,NaN,IC,Invest Cont,23800 CALVERT ST,NaN,"(34.1883, -118.6536)"
1584312,172116489,09/07/2017,09/07/2017,1200,Topanga,330,BURGLARY FROM VEHICLE,40.0,M,W,PARKING LOT,NaN,IC,Invest Cont,6600 TOPANGA CANYON BL,NaN,"(34.1905, -118.6059)"
1584313,172116491,08/30/2017,07/15/2017,1,Topanga,649,DOCUMENT FORGERY / STOLEN FELONY,52.0,M,W,OTHER BUSINESS,NaN,IC,Invest Cont,20900 SHERMAN WY,NaN,"(34.201, -118.5885)"
1584314,172116498,09/08/2017,09/08/2017,1845,Topanga,946,OTHER MISCELLANEOUS CRIME,47.0,M,H,STREET,NaN,IC,Invest Cont,REMMET,WYANDOTTE,"(34.2029, -118.6003)"
1584315,172116510,09/08/2017,07/12/2017,2230,Topanga,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,42.0,F,H,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,8600 INTERNATIONAL AV,NaN,"(34.2258, -118.5994)"

In [162]:
crime_code = get_null_code(data, null_list) 
crime_code.head()

Victim Age

KeyboardInterrupt: