In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import plotly.express as px
import numpy as np

In [3]:
data = pd.read_csv("./data/Crime_Data_2010_2017.csv") 
data.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,1208575,03/14/2013,03/11/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,102005556,01/25/2010,01/22/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2,418,03/19/2013,03/18/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,101822289,11/11/2010,11/10/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
4,42104479,01/11/2014,01/04/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"

In [7]:
data.shape

(1584316, 26)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584316 entries, 0 to 1584315
Data columns (total 26 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   DR Number               1584316 non-null  int64
 1   Date Reported           1584316 non-null  object
 2   Date Occurred           1584316 non-null  object
 3   Time Occurred           1584316 non-null  int64
 4   Area ID                 1584316 non-null  int64
 5   Area Name               1584316 non-null  object
 6   Reporting District      1584316 non-null  int64
 7   Crime Code              1584316 non-null  int64
 8   Crime Code Description  1583904 non-null  object
 9   MO Codes                1412557 non-null  object
 10  Victim Age              1455657 non-null  float64
 11  Victim Sex              1439117 non-null  object
 12  Victim Descent          1439084 non-null  object
 13  Premise Code            1584240 non-null  float64
 14  Premise Description     1581565 non-null  object
 15  Weapon Used Code        524757 non-null   float64
 16  Weapon Description      524756 non-null   object
 17  Status Code             1584314 non-null  object
 18  Status Description      1584316 non-null  object
 19  Crime Code 1            1584309 non-null  float64
 20  Crime Code 2            99997 non-null    float64
 21  Crime Code 3            2183 non-null     float64
 22  Crime Code 4            69 non-null       float64
 23  Address                 1584316 non-null  object
 24  Cross Street            262733 non-null   object
 25  Location                1584307 non-null  object
dtypes: float64(7), int64(5), object(14)
memory usage: 314.3+ MB

In [5]:
data.isnull().sum()

DR Number                       0
Date Reported                   0
Date Occurred                   0
Time Occurred                   0
Area ID                         0
Area Name                       0
Reporting District              0
Crime Code                      0
Crime Code Description        412
MO Codes                   171759
Victim Age                 128659
Victim Sex                 145199
Victim Descent             145232
Premise Code                   76
Premise Description          2751
Weapon Used Code          1059559
Weapon Description        1059560
Status Code                     2
Status Description              0
Crime Code 1                    7
Crime Code 2              1484319
Crime Code 3              1582133
Crime Code 4              1584247
Address                         0
Cross Street              1321583
Location                        9
dtype: int64

In [9]:
np.unique(data['Victim Descent'].tolist())

# A: Asian (Asia)
# B: Black or African American (Hitam atau Afrika-Amerika)
# C: Chinese (Tionghoa)
# D: Cambodian (Kamboja)
# F: Filipino (Filipina)
# G: Guamanian (Guam)
# H: Hispanic or Latino (Hispanik atau Latino)
# I: American Indian or Alaska Native (Penduduk Asli Amerika atau Penduduk Asli Alaska)
# J: Japanese (Jepang)
# K: Korean (Korea)
# L: Laotian (Laos)
# O: Other (Lain-lain)
# P: Pacific Islander (Penduduk Pulau Pasifik)
# S: Samoan (Samoa)
# U: Hawaiian (Hawaii)
# V: Vietnamese (Vietnam)
# W: White or Caucasian (Putih atau Kaukasia)
# X: Unknown (Tidak Diketahui)
# Z: Asian Indian (India)

array(['-', 'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O',
       'P', 'S', 'U', 'V', 'W', 'X', 'Z', 'nan'], dtype='<U32')

In [17]:
arr = []
for i in range(data.shape[0]):
    if pd.isna(data.loc[i, "Crime Code Description"]):
        # print(data.loc[i, "Crime Code Description"])
        if data.loc[i, "Crime Code"] not in arr: 
             arr.append(data.loc[i, 'Crime Code'])


arr

[822, 760, 921, 814]

In [18]:
for array  in arr: 
    for i in range(data.shape[0]): 
        if data.loc[i, "Crime Code"] == array and not pd.isna(data.loc[i, "Crime Code Description"]): 
            print(f'{array} - {data.loc[i, "Crime Code Description"]}')